<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{webstore.page.title}"></title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<div th:replace="fragments :: header"></div>
<div id="container">
    <div class="stackable grid container">
        <h2 class="ui header" th:text="#{webstore.orders}"></h2>
        <div class="form ui">
            <select id="filter" class="ui menu dropdown" onChange="OnSelectedIndexChange()">
                <option value="2" th:text="#{webstore.filter.all}"></option>
                <option th:if="${#request.getParameter('done') == 'true'}" value="1" th:text="#{webstore.filter.done}" selected="selected"></option>
                <option th:unless="${#request.getParameter('done') == 'true'}" value="1" th:text="#{webstore.filter.done}"></option>
                <option th:if="${#request.getParameter('done') == 'false'}" value="0" th:text="#{webstore.filter.not.ready}" selected="selected"></option>
                <option th:unless="${#request.getParameter('done') == 'false'}" value="0" th:text="#{webstore.filter.not.ready}"></option>
            </select>
        </div>
        <table class="ui celled table">
            <thead>
            <th th:text="#{webstore.product.id}"></th>
            <th th:text="#{webstore.order.number}"></th>
            <th th:text="#{webstore.user}"></th>
            <th th:text="#{webstore.order.details}"></th>
            <th th:text="#{webstore.order.place.date}"></th>
            <th th:text="#{webstore.done}"></th>
            </thead>
            <th:block th:each="orderHeader: ${orderHeadersList.content}">
                <tr>
                    <td th:text="${orderHeader.id}"></td>
                    <td th:text="${orderHeader.number}"></td>
                    <td th:text="${orderHeader.purchaser.username}"></td>
                    <td>
                        <a th:href="@{'/order/' + ${orderHeader.id}}" th:text="#{webstore.order.details}"></a>
                    </td>
                    <td th:text="${orderHeader.date}"></td>
                    <td th:if="${orderHeader.done}">
                        <input type="checkbox" tabindex="0" class="hidden" th:onclick="'makeDone(' + ${orderHeader.id} + ', ' + ${orderHeader.done} + ')'" checked>
                    </td>
                    <td th:unless="${orderHeader.done}">
                        <input type="checkbox" tabindex="0" class="hidden" th:onclick="'makeDone(' + ${orderHeader.id} + ', ' + ${orderHeader.done} + ')'">
                    </td>
                </tr>
            </th:block>
        </table>
        <div class="right">
            <span th:text="#{webstore.page}"></span>:
            <a th:each="pageNumber : ${pageNumbers}"
               th:href="@{/admin/orders(p=${pageNumber})}"
               th:text="${pageNumber + ' '}"
               th:class="${pageNumber==orderHeadersList.number + 1} ? 'active' : ''">
            </a>
        </div>
    </div>
</div>

<div th:replace="fragments :: footer"></div>

<script>
    function OnSelectedIndexChange()
    {
        if (document.getElementById('filter').value == "1"){
            location.href="/admin/orders?done=true"
        } else if (document.getElementById('filter').value == "0") {
            location.href="/admin/orders?done=false"
        } else if (document.getElementById('filter').value == "2"){
            location.href="/admin/orders"
        }
    }
</script>
<script>
    function makeDone(id, done) {
        if(done === true) {
            var url = "/admin/orders/undo/" + id;
            $.ajax({
                type : "GET",
                url : url
            })
        } else {
            url = "/admin/orders/done/" + id;
            $.ajax({
                type: "GET",
                url: url
            })
        }
    }
</script>

</body>
</html>