<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{webstore.page.title}"></title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</head>
<body>
    <div th:replace="fragments :: header"></div>
    <div id="container">
        <div class="stackable grid container">
            <h2 class="ui header" th:text="#{webstore.product.thumbnail}"></h2>
            <form class="ui form" th:action="@{/admin/thumbnail}" method="post" enctype="multipart/form-data">
                <input type="text" name="id" id="id" th:value="${param.id}" hidden>
                <div class="field">
                    <label for="thumbnail" th:text="#{webstore.product.thumbnail.change.for}"></label>
                    <i th:text="${title}"></i><br/><br/>
                    <input type="file" name="thumbnail" id="thumbnail">
                </div>
                <button class="ui blue submit button" th:text="#{webstore.product.add}"></button>
            </form>
        </div>
    </div>

    <div th:if="${param.product_added}" class="ui basic modal">
        <div class="ui icon header">
            <i class="thumbs up icon"></i><br/><br/>
            <span th:text="#{webstore.product.added}"></span>
        </div>
        <div class="actions">
            <div class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                OK
            </div>
        </div>
    </div>

    <div th:replace="fragments :: footer"></div>
    <script>
        $('.ui.basic.modal').modal('show');
    </script>
</body>
</html>