#container {
    min-height: 571px;
}

.container {
    max-width: 1127px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

.register {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#register-form {
    min-height: 320px;
}

#left-menu {
    margin-top: 115px;
    margin-left: 50px;
    float: left;
}

#footer {
    margin-top: 100px;
    height: 200px;
}

#footer > i {
    float: left;
}

.right {
    text-align: right;
}