<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>
    <div th:fragment="header">
        <div class="ui grid">
            <div class="computer tablet only row">
                <div class="ui inverted fixed menu navbar page grid">
                    <a class="item" href="/">
                        <h4>WEB STORE</h4>
                    </a>
                    <a class="item" href="/products" th:text="#{webstore.products}"></a>
                    <a class="item" href="/categories" th:text="#{webstore.product.categories}"></a>
                    <a class="item" href="/cart" th:text="#{webstore.shopping.cart}"></a>
                    <div class="right item">
                        <div class="ui input"><input type="text" placeholder="Search..."></div>
                    </div>
                    <a sec:authorize="isAnonymous()" class="item" href="/register" th:text="#{webstore.user.register}"></a>
                    <a sec:authorize="isAuthenticated()" class="item" href="/logout" th:text="#{webstore.user.logout}"></a>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="left-menu">
        <div id="left-menu" class="ui inverted vertical pointing menu">
            <a class="item" href="/product" th:text="#{webstore.product.add.product}"></a>
            <a sec:authorize="hasRole('ROLE_ADMIN')" class="item" href="/category" th:text="#{webstore.product.add.category}"></a>
        </div>
    </div>

    <div th:fragment="footer">
<!--        <div class="ui inverted vertical footer segment">-->
<!--            <div class="ui container">-->
<!--                Copyright Błażej Piotrowski. All Rights Reserved-->
<!--            </div>-->
<!--        </div>-->

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>
    </div>
</body>
</html>