<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>
    <div th:fragment="header">
        <div class="ui grid">
            <div class="computer tablet only row">
                <div class="ui inverted fixed menu navbar page grid">
                    <a class="item" href="/">
                        <h4>WEB STORE</h4>
                    </a>
                    <a class="item" th:classappend="${'/products'.equals(active)} ? 'active' : ''" href="/products" th:text="#{webstore.products}"></a>
                    <a class="item" th:classappend="${'/categories'.equals(active)} ? 'active' : ''" href="/categories" th:text="#{webstore.product.categories}"></a>
                    <a class="item" th:classappend="${'/cart'.equals(active)} ? 'active' : ''" href="/cart" th:text="#{webstore.shopping.cart}"></a>
                    <a class="item" th:classappend="${'/user-panel'.equals(active)} ? 'active' : ''" href="/user-panel?p=1" th:text="#{webstore.account.short}"></a>
                    <div sec:authorize="hasRole('ROLE_ADMIN')" class="ui simple inverted dropdown item">
                        <a href="/admin">Admin</a> <i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item" href="/admin/product/add" th:text="#{webstore.product.add.product}"></a>
                            <a class="item" href="/admin/category" th:text="#{webstore.product.add.category}"></a>
                            <a class="item" href="/admin/orders?p=1" th:text="#{webstore.orders}"></a>
                            <a class="item" href="/admin/products" th:text="#{webstore.products}"></a>
                            <a class="item" href="/admin/footer" th:text="#{webstore.footer}"></a>
                            <a class="item" href="/admin/about" th:text="#{webstore.edit.about}"></a>
                        </div>
                    </div>
                    <div sec:authorize="hasRole('ROLE_ADMIN')" class="right item">
                        <form class="ui input" th:action="@{/admin/products/search}" method="get">
                            <input type="text" name="q" id="q" th:placeholder="#{webstore.search}">
                        </form>
                    </div>
                    <div sec:authorize="!hasRole('ROLE_ADMIN')" class="right item">
                        <form class="ui input" th:action="@{/products/search}" method="get">
                            <input type="text" name="q" id="q" th:placeholder="#{webstore.search}">
                        </form>
                    </div>
                    <a sec:authorize="isAnonymous()" class="item" href="/login" th:text="#{webstore.user.login}"></a>
                    <a sec:authorize="isAuthenticated()" class="item" href="/logout" th:text="#{webstore.user.logout}"></a>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="footer">
        <div id="footer" class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="three wide column">
                        <div class="ui inverted link list">
                            <div>
                                <a th:href="@{/about}" class="item" th:text="#{webstore.about}"></a>
                            </div>
                            <div>
                                <a href="#" class="item" th:text="#{webstore.contact}"></a>
                            </div>
                            <div>
                                <a href="#" class="item" th:text="#{webstore.policies}"></a>
                            </div>
                        </div>
                    </div>
                    <div class="three wide column">
                        <div class="ui inverted link list">
                            <div th:if="${footer.facebook != '' and footer.facebook != null}" >
                                <i class="facebook icon"></i>
                                <a th:href="${'http://' + footer.facebook}" class="item">Facebook</a>
                            </div>
                            <div th:if="${footer.instagram != '' and footer.instagram != null}">
                                <i class="instagram icon"></i>
                                <a th:href="${'http://' + footer.instagram}" class="item">Instagram</a>
                            </div>
                            <div th:if="${footer.twitter != '' and footer.twitter != null}">
                                <i class="twitter icon"></i>
                                <a th:href="${'http://' + footer.twitter}" class="item">Twitter</a>
                            </div>
                        </div>
                    </div>
                    <div class="ten wide column">
                        <div class="ui inverted link list">
                            <div>
                                <a href="#" class="item" th:text="#{webstore.help}"></a>
                            </div>
                        </div>
                        <div class="right">
                            <p>© 2019, Błażej Piotrowski</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>