<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{webstore.page.title}"></title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</head>
<body>
    <div th:replace="fragments :: header"></div>
    <div id="container">
        <div class="stackable grid container">
            <h3 class="ui header" style="text-align: center" th:text="#{webstore.most.viewed}"></h3>

            <div class="ui three column grid">
                <div class="column" th:block th:each="product: ${topViewedProducts}">
                    <div class="ui segment" th:if="${product.active == true}">
                        <a th:href="@{'/product/' + ${product.id}}">
                            <h4 style="text-align: center" th:text="${product.title}"></h4>
                            <img th:src="@{/thumbnail/{id}(id=${product.id})}" height="200" width="300"/><br/>
                            <i th:text="#{webstore.available.in.stock}"></i>: <span th:text="${product.quantity}"></span><br/>
                            <i th:text="#{webstore.product.price}"></i>: <span th:text="${product.price}"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${param.order_success}" class="ui basic modal">
        <div class="ui icon header">
            <i class="thumbs up icon"></i><br/><br/>
            <span th:text="#{webstore.order.been.placed}"></span>
        </div>
        <div class="actions">
            <div class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                OK
            </div>
        </div>
    </div>

    <div th:replace="fragments :: footer"></div>
    <script>
        $('.ui.basic.modal').modal('show');
    </script>
</body>
</html>