<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{webstore.page.title}"></title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</head>
<body>
    <div th:replace="fragments :: header"></div>
    <div id="container">
        <div class="stackable grid container">
            <h2 class="ui header" th:text="#{webstore.products}"></h2>
            <p>

            </p>
        </div>
    </div>

    <div th:if="${param.success}" class="ui basic modal">
        <div class="ui icon header">
            <i class="thumbs up icon"></i><br/><br/>
            <span th:text="#{webstore.order.been.placed}"></span>
        </div>
        <div class="actions">
            <div class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                OK
            </div>
        </div>
    </div>

    <div th:replace="fragments :: footer"></div>
    <script>
        $('.ui.basic.modal').modal('show');
    </script>
</body>
</html>