<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{webstore.page.title}"></title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div th:replace="fragments :: header"></div>
    <div class="container">
        <div class="stackable grid container">
            <h2 class="ui header" th:text="#{webstore.user.register}"></h2>
            <form class="ui form" th:action="@{register}" method="post" th:object="${userForm}">
                <div class="field">
                    <label for="username" th:text="#{webstore.user.username}"></label>
                    <input type="text" name="username" id="username">
                </div>
                <div class="field">
                    <label for="email">E-mail</label>
                    <input type="text" name="email" id="email">
                </div>
                <div class="field">
                    <label for="password" th:text="#{webstore.user.password}"></label>
                    <input type="password" name="password" id="password">
                </div>
                <button class="ui submit button" th:text="#{webstore.product.add}"></button>
            </form>
        </div>
    </div>

    <div th:replace="fragments :: footer"></div>
</body>
</html>